.bottom {
  background-color: var(--black);
  padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  border-radius: 0.25rem;

  color: var(--white);
  font-size: 0.9rem;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  justify-self: flex-end;
  gap: 0.5rem;

  transition: 0.2s;

  &:hover {
    filter: brightness(60%);
  }
}

.deactivate {
  transition: 0.2s;

  opacity: 0.7;
  background-color: #413f3f;
}